// Base 
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway&display=swap');

$light: true;
$navcolor: #c5cfc9;
$bgcolor: #dfdfdb;
$boxcolor: none;
$fontcolor: #4b4c4e;

@if $light != true{  
    $navcolor: #336966;
    $bgcolor: #68b0ab;
    $boxcolor: #ee8977;
    $fontcolor: #ecf4f3;
}

h1{ font-size: 46px; }
h2{ font-size: 36px; }
h3{ font-size: 20px; }
h4{ font-size: 18px; }
h5{ font-size: 16px; }
h6{ font-size: 14px; }

h1, h2, h3, h4, h5, h6, a{ 
    text-transform: uppercase; 
    font-family: 'Raleway', sans-serif; 
}

body {
    background-color: $bgcolor;
    color: $fontcolor;
    font-family: 'Open Sans', sans-serif;
}

